<!--Main Navigation-->
<header class="intro-header">

    <!--Intro Section-->
    <section class="view intro-2">
      <div class="container">
         <div class="row mt-5 w-100">
              <div class="col-md-8 text-center text-md-left mb-5">
                <div class="white-text">
                  <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">About Me </h2>
                  <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                  <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Hi, I am Surbhi Dighe. Lorem ipsum dolor sit amet, consectetur
                    adipisicing
                    elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat!
                    Commodi sequi
                    non animi ea dolor molestiae, quisquam iste, maiores. Nulla.</h6>
                  <br>
                </div>
              </div>
          <div class="col-md-4 text-center text-md-left mb-5">
              <img class="image_about" src="https://cdn.dribbble.com/users/5448869/screenshots/11964344/media/7c1a55db92d1d015c51ad7595a2b82ff.png?compress=1&resize=400x300">
            </div>

        </div>
    <!-- Hobbies-->
    <div class="row mt-5 w-100">
             <div class="col-md-4 text-center text-md-left mb-5">
                <img class="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6yfw6_FfMktStfh5HFmb6mzx10adB4e-bHw&usqp=CAU">
              
                </div>
           <div class="col-md-8 text-center text-md-left mb-5">
            <div class="white-text">
                <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Hobbies</h2>
                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.3s"><h4><i class="fas fa-paint-brush mr-2"></i>Art & Craft</h4></div>
                        <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.3s"><h4><i class="fas fa-hamburger mr-2"></i>Cooking</h4></div>
                        <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.3s"><h4><i class="fas fa-chalkboard-teacher mr-2"></i>Learning</h4></div>
                    </div>
                </div>  
                <br>
              </div>
                </div>
          
          
        </div>
    <!-- Hobbies -->
    <!-- Interest -->
    <div class="row mt-5 w-100">
        
      <div class="col-md-8 text-center text-md-left mb-5">
       <div class="white-text">
           <h2 class="h1 h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Interests</h2>
           <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">

           <div class="container">
               <div class="row">
                   <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.3s"><h4><i class="fab fa-pagelines mr-2"></i>Gardening</h4></div>
                   <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.3s"><h4><i class="fas fa-pen mr-2"></i>Drawing</h4></div>
                   <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.3s"><h4><i class="fas fa-music mr-2"></i>Listening to music</h4></div>
               </div>
               <div class="row mt-5">
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.3s"><h4><i class="fas fa-pen-nib mr-2"></i>Calligraphy</h4></div>
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.3s"><h4><i class="fas fa-pencil-ruler mr-2"></i>Mandala Art</h4></div>
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="0.3s"><h4><i class="fas fa-baseball-ball mr-2"></i>Watching Cricket</h4></div>
            </div>
           </div>  
           <br>
         </div>
           </div>
           <div class="col-md-4 text-center text-md-left mb-5">
            <img class="" src="https://cdn.dribbble.com/users/5448869/screenshots/11964344/media/7c1a55db92d1d015c51ad7595a2b82ff.png?compress=1&resize=400x300">
          
            </div>
     
   </div>
    <!-- Interest -->
</div>
</section>
  </header>
  <!--Main Navigation-->