

<mdb-navbar SideClass="navbar navbar-expand-lg bg-white ie-nav fixed-top" [containerInside]="false">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" href="#"><strong>Surbhi Dighe</strong></a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" routerLink="">Home</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/about-me">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/works">Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Contact</a>
          </li>
        </ul>
    </links>
</mdb-navbar>