<header class="intro-header">
<section class="view intro-2">
<div class="container" style="margin-top: 10%;">
    <div class="row">
      <div class="col-md">
        <div class="card c1 wow slideInLeft" data-wow-delay="0.3s">
            <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="card-img-top" alt="..."/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
      </div>
      <div class="col-md">
        <div class="card c2 wow slideInDown" data-wow-delay="0.4s">
            <img src="https://mdbootstrap.com/img/new/standard/nature/185.jpg" class="card-img-top" alt="..."/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
      </div>
      <div class="col-md">
        <div class="card c3 wow slideInRight" data-wow-delay="0.3s">
            <img src="https://mdbootstrap.com/img/new/standard/nature/186.jpg" class="card-img-top" alt="..."/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
</header>
