.intro-2 {
      background: rgb(2,0,36);
      background: linear-gradient(90deg, #000000 0%,#2C3E50 100%);
      height: 100vh;
  }
  .c1:hover, .c2:hover, .c3:hover{
      transform: scale(1.1);
      opacity: 0.9;
  }