

.text_1 {
    animation: text1;
  }
  .text_2 {
    animation: text2;
  }
  .title{font-size: 4.5em;font-weight: 900;}
  .text_1, .text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    font-family: monospace;
    font-size: 2.7em;
    animation-duration: 10s;
    animation-timing-function: steps(15, end);
    animation-iteration-count: infinite;
  }
  .text_1::after, .text_2::after {
    content: "|";
    position: absolute;
    right: -9px;
    animation: caret infinite;
    animation-duration: 1.3s;
    animation-timing-function: steps(1, end);
  }

  @keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
      width: 10.4em;
    }
  }
  @keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 40% {
      width: 10.9em;
    }
  }
  .fab {
    font-size: 32px;
}
  //.bg-image{
    // background: url("https://i.pinimg.com/originals/33/11/92/3311924db62ceef62a4a7ee87017280f.jpg")no-repeat center center;
  
    //     height: 648px;
      //   margin-top: 58px;
      //   border-bottom-left-radius: 50%;
      // border-bottom-right-radius: 50%;
  //}
  // .mask{
  //    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");

  // /* Full height */
  // height: 100%; 

  // /* Center and scale the image nicely */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  //   background: url("https://i.pinimg.com/originals/33/11/92/3311924db62ceef62a4a7ee87017280f.jpg")no-repeat center center;
  // }
  #intro {
    background-image: url("https://i.pinimg.com/originals/2c/37/53/2c37538ad1d9a09852c9ec8638c5fa8b.png");
    height: 100vh;
    box-shadow: inset 0 0 0 2000px rgb(0 0 0 / 77%);
  }
  .b{
    border-radius: 50%;
    height: 200px;
    position: absolute;
    width: 200px;
  }
  .bubble1{
    margin-top: -30%;
    box-shadow: 0 2px 18px rgb(0 0 0 / 20%), inset 0px 15px 26px 0px blueviolet;
    animation: 18s linear 0s infinite alternate move_eye, 18s linear 0s infinite alternate ani; 
  }
  .bubble2{
    margin-top: -12%;
    box-shadow: 0 2px 18px rgb(0 0 0 / 20%), inset 0px 15px 26px 0px yellowgreen;
    margin-left: 40%;
    animation: 10s linear 0s infinite alternate move_eye2, 14s linear 0s infinite alternate ani;  
  }
  .bubble3{
    margin-top: -12%;
    box-shadow: 0 2px 18px rgb(0 0 0 / 20%), inset 0px 15px 26px 0px green;
    animation: 14s linear 0s infinite alternate move_eye1, 14s linear 0s infinite alternate ani;   
     margin-left: 85%;
  }
  .bubble4{
    margin-top: -12%;
    margin-left: 20%;
    box-shadow: 0 2px 18px rgb(0 0 0 / 20%), inset 0px 15px 26px 0px blue;
    animation: aBubble 20s linear infinite;
  }
  .bubble5{
    margin-top: -28%;
    margin-left: 40%;
    box-shadow: 0 2px 18px rgb(0 0 0 / 20%), inset 0px 15px 26px 0px orangered;
    animation: aBubble 17s linear infinite;
  }
  .bubble6{
    margin-top: -22%;
    margin-left: 50%;
    box-shadow: 0 2px 18px rgb(0 0 0 / 20%), inset 0px 15px 26px 0px white;
    animation: 14s linear 0s infinite alternate move_eye, 14s linear 0s infinite  ani;

  }
  @keyframes move_eye { from { margin-left: 00%; } to { margin-left: 80%; }  }
  @keyframes move_eye1 { from { margin-left:80%; } to { margin-left: 0%; }  }
  @keyframes move_eye2 { from { margin-left: 40%; } to { margin-left: 70%; }  }
  @keyframes ani { 
    50%{
       margin-top: -40%;
       transform: rotate(270deg);
    }
  }
@keyframes aBubble {
  
  25% { 
    margin-left:0%;
    margin-top: -30%;
    transform: rotate(270deg);
}
50% { 
    margin-left:30%;
    margin-top: -20%;
    transform: rotate(90deg);
}
75%{
    margin-left:60%;
    margin-top: -12%;
    transform: rotate(180deg);
}
100%{
  margin-left:80%;
  margin-top: -40%;
  transform: rotate(270deg);
}
}

 