<header>
    <!-- Background image -->
    <div id="intro" class="bg-image shadow-2-strong">
    <div class="mask" >
        <div class="d-flex justify-content-center align-items-center" style="height: 690px;" >
          <div class="text-white" style="z-index: 999999;">
            <h1 class="mb-3" class="title wow slideInLeft" data-wow-delay="0.2s"><span>Hi,</span> I am Surbhi Dighe</h1>
            <h4 class="mb-3" class="text_1 wow slideInLeft" data-wow-delay="0.3s">Wordpress Developer</h4>
            <h4 class="mb-3" class="text_2">Frontend Developer</h4>
            <p>
              <span><i class="fab fa-linkedin"></i></span>
              <span style="padding-left: 30px;"><i class="fab fa-github"></i></span>
              <span style="padding-left: 30px;"><i class="fab fa-youtube"></i></span>
            </p>
          </div>
        </div>
      </div>
      <span class="bubble1 b">.</span>
      <span class="bubble2 b">.</span>
      <span class="bubble3 b"></span>
      <span class="bubble4 b"></span>
      <span class="bubble5 b"></span>
      <span class="bubble6 b"></span>
      </div>
    
    <!-- Background image -->
  </header>
  